$background: #FBF6F7;
$primary: #00A4E3;
$secondary: #31393C;
$primary-accent: #EB8921;
$secondary-accent: #EF626C;

$breakpoint-tablet: 768px;

$nav-text-padding: 20px;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#app {
  h1 {
    margin: 0;
  }

  nav {
    background: transparent;
    border-bottom: 2px solid transparent;
    width: 100vw;
    opacity: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0px;
    transition: background 1s, border-color 1s;

    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding: 0;
      margin: 0;

    }

    a {
      color: $background;
      display: block;
      text-align: center;
      font-size: 20px;
      padding: $nav-text-padding $nav-text-padding;
      &:hover {
        color: $primary-accent;
      }
      &:active {
        color: $primary-accent;
      }
    }

    .logo {
      display: block;
      margin: 0;
      padding: $nav-text-padding $nav-text-padding;


      h3 {
        font-size: 20px;
        color: $primary-accent;
        margin: 0;
      }
    }
  }

  .nav-fade-in {
    background: $secondary;
    border-bottom: 2px solid $secondary-accent;
    opacity: 1;
    transition: background 1s, border-color 1s;
  }

  .feature-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .parallax {
    background-image: url('./../img/background.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .subfeature-container {
    background: $background;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    nav {
      flex-direction: column;
      background: $secondary;
      border-bottom: 2px solid $secondary-accent;

      ul {
        flex-direction: column;
        overflow: hidden;
        height: 0px;
        transition: height 1s;
      }

      .animate-nav-height {
        height: 120px;
        transition: height 1s;
      }
    }

    .logo {
      flex-direction: column;
      text-align: center;
    }
  }
}
